/* ---------------------
        animations 
   ---------------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.primary-heading {
  color: #fff;
  text-transform: uppercase;
}
.primary-heading--main {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 3rem;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-iteration-count: 3;
}
.primary-heading--sub {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.8rem;
  text-transform: lowercase;
  font-weight: 700;
  letter-spacing: 0.6rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
  margin-bottom: 3rem;
}

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background-image: linear-gradient(#d35400, #d35400);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.3s;
}
.secondary-heading:hover {
  transform: skewY(3deg) skewX(5deg) scale(1.2);
  text-shadow: 2.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}
.secondary-headingservices--heading {
  color: #fff;
}

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.35rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: rgb(49, 42, 42);
  padding: 1.5rem;
  box-sizing: border-box;
}

.services--heading {
  color: #fff;
  margin-top: 0;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-ver-small {
  margin-bottom: 1.5rem;
}

.default-font-size {
  font-size: 1.6rem;
}

.margin-left {
  margin-left: 3rem;
}

/* ---------------------
          Buttons
     ---------------------*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30rem;
  padding: 1rem 3rem;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn--white {
  background-color: #fff;
  color: rgb(252, 153, 5);
  text-align: center;
  display: inline-block;
}
.btn--white:hover {
  transform: translateY(-0.5rem);
  transition: transform 0.5s;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.747);
}
.btn--white:hover::after {
  transform: scaleX(1.7) scaleY(2);
  opacity: 0;
}
.btn--green {
  background-color: rgba(59, 167, 59, 0.884);
  color: #fff;
  text-align: center;
  display: inline-block;
}
.btn--green:hover {
  transform: translateY(-0.5rem);
  transition: transform 0.5s;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.747);
  background-color: rgba(250, 118, 2, 0.7137254902);
  transition: all 0.9s;
}
.btn--green:hover::after {
  transform: scaleX(1.7) scaleY(2);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.3rem);
  transition: transform 0.4s;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.747);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border: none;
}
.btn--white::after {
  background-color: #fff;
  border: none;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  transition: all 1s;
}

.btn-text:link, .btn-text:visited {
  color: #d35400;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #d35400;
  font-size: calc(1.6rem/1.2);
  transition: all 0.5s;
}
.btn-text:hover {
  background-color: #d35400;
  color: #fff;
  padding: 0.8rem;
  box-shadow: 0rem 1rem 2rem black;
  transform: translateY(-2px);
  border-radius: 5em;
  transform: skewY(2deg, 8deg);
}
.btn-text:active {
  box-shadow: 0rem 0.5rem 1rem black;
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 2rem 8rem black;
  position: absolute;
  transition: all 0.6s;
  z-index: 10;
  outline-offset: 1rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  transform: scale(1.5) translateY(-0.5rem);
  box-shadow: 0 3rem 10rem black;
  z-index: 20;
  border-radius: 300px;
  outline: 6px solid #d35400;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95rem);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2em 4em black;
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0rem;
  display: inline-block;
  background-image: linear-gradient(to right, #d35400, #d35400);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box__image {
  width: 100%;
  height: 80px;
  margin-top: 1rem;
  display: inline-block;
}
.feature-box:hover {
  transform: scale(1.05) translateY(-1.5rem);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 5rem;
  position: relative;
}
.card__side {
  background-color: #fff;
  height: 50rem;
  font-size: 2rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0rem 4rem 5rem #312a2a;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, rgba(250, 118, 2, 0.7137254902), #d35400);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, rgba(10, 85, 10, 0.884), rgba(59, 167, 59, 0.884));
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, rgb(113, 113, 230), rgb(14, 14, 238));
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 30vh;
  background-blend-mode: color;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.card__picture-1 {
  background-image: linear-gradient(to right bottom, rgba(250, 118, 2, 0.7137254902), #d35400), url("../../img/akwaaba.png");
}
.card__picture-2 {
  background-image: linear-gradient(to right bottom, rgba(59, 167, 59, 0.884), rgba(10, 85, 10, 0.884)), url("../../img/akwaaba2.png");
}
.card__picture-3 {
  background-image: linear-gradient(to right bottom, rgb(113, 113, 230), rgb(14, 14, 238)), url("../../img/temacenter.png");
}
.card__heading {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  width: 75%;
  right: 2rem;
  top: 9rem;
}
.card_heading-span {
  padding: 1rem 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card_heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(250, 118, 2, 0.7137254902), #d35400);
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 2px solid rgb(228, 220, 220);
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price-box {
  margin-bottom: 5rem;
  color: rgb(228, 220, 220);
}
.card__price-only {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: rgb(228, 220, 220);
}
.card__price-value {
  font-size: 5rem;
  color: rgb(228, 220, 220);
  font-weight: 100;
  margin-bottom: 10rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.17;
  overflow: hidden;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-12deg);
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(40% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__image {
  transform: scale(1);
  transition: scale 0.9s;
}
.story__text {
  transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2.3rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 100%;
  transform: translate(-50%, -50%);
}
.story:hover .story__image {
  opacity: 100%;
  transform: translate(-50%, -50%);
  transform: scale(1.5);
  transition: scale 0.9s;
  filter: blur(3px) brightness(80%);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group--button {
  margin-top: 8rem;
  margin-left: 8rem;
  display: block;
}
.form__input {
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  margin-left: 5rem;
  width: 30%;
  border-bottom: 4px solid transparent;
  display: block;
  color: inherit;
}
.form__input:focus {
  outline: none;
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.6);
  border-bottom: 4px solid #d35400;
  border-bottom: 4px solid rgba(10, 85, 10, 0.884);
}
.form__input:focus:invalid {
  outline: none;
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.6);
  border-bottom: 4px solid #d35400;
}
.form__input::-webkit-input-placeholder {
  color: rgb(49, 42, 42);
}
.form__label {
  margin-left: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 7rem;
  display: block;
  transition: all 0.8s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  margin-left: 5rem;
  display: inline-block;
  width: 16%;
  float: left;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  margin-left: 0.2rem;
}
/* ---------------------
        Header section
   ---------------------*/
.header {
  background-image: linear-gradient(to right top, rgba(250, 118, 2, 0.7137254902), rgba(250, 118, 2, 0.7137254902)), url("img/capecoast.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.137);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  width: 30rem;
  height: 15rem;
}
.header__centered-text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: rgb(228, 220, 220);
  padding: 20rem 0;
  margin-top: -20vh;
}

.features_section {
  padding: 5rem 0;
  background-image: linear-gradient(to right top, rgba(59, 167, 59, 0.884), rgba(59, 167, 59, 0.884)), url("img/icon-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  transform: skewY(-5deg);
  margin-top: -10rem;
}
.features_section > * {
  transform: skewY(5deg);
}

.section-tours {
  background-color: rgb(228, 220, 220);
  padding: 20rem 0 50rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 20rem 0;
  margin-top: -20rem;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, rgba(59, 167, 59, 0.884), rgba(10, 85, 10, 0.884));
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../../img/akwaaba2.png");
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.6);
}
.book__form {
  width: 100%;
  padding: 6rem;
}

.row {
  max-width: 114em;
  margin: 0 auto;
  margin-top: 0px;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  margin-top: 1rem;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem*2) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2* 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem*3) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 6rem) / 4 * 2);
}
.row .col-3-of-4 {
  width: calc(3.25*((100% - 3 * 6rem)/4) + 6rem);
}

/*# sourceMappingURL=style.css.map */
