/* ---------------------
        animations 
   ---------------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.primary-heading {
  color: #fff;
  text-transform: uppercase;
}
.primary-heading--main {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 3rem;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-iteration-count: 3;
}
.primary-heading--sub {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.8rem;
  text-transform: lowercase;
  font-weight: 700;
  letter-spacing: 0.6rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
  margin-bottom: 3rem;
}

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background-image: linear-gradient(#d35400, #d35400);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all 0.3s;
}
.secondary-heading:hover {
  transform: skewY(3deg) skewX(5deg) scale(1.2);
  text-shadow: 2.5rem 1rem 2rem rgba(0, 0, 0, 0.8);
}

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.35rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: rgb(49, 42, 42);
  padding: 1.5rem;
  box-sizing: border-box;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-ver-small {
  margin-bottom: 1.5rem;
}

/* ---------------------
          Buttons
     ---------------------*/
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30rem;
  padding: 1rem 3rem;
  position: relative;
  font-size: 1.6rem;
}
.btn--white {
  background-color: #fff;
  color: rgb(252, 153, 5);
  text-align: center;
  display: inline-block;
}
.btn--white:hover {
  transform: translateY(-0.5rem);
  transition: transform 0.5s;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.747);
}
.btn--white:hover::after {
  transform: scaleX(1.7) scaleY(2);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.3rem);
  transition: transform 0.4s;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.747);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border: none;
}
.btn--white::after {
  background-color: #fff;
  border: none;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  transition: all 1s;
}

.btn-text:link, .btn-text:visited {
  color: #d35400;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #d35400;
  font-size: calc(1.6rem/1.2);
  transition: all 0.5s;
}
.btn-text:hover {
  background-color: #d35400;
  color: #fff;
  padding: 0.8rem;
  box-shadow: 0rem 1rem 2rem black;
  transform: translateY(-2px);
  border-radius: 5em;
  transform: skewY(2deg, 8deg);
}
.btn-text:active {
  box-shadow: 0rem 0.5rem 1rem black;
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 70%;
  box-shadow: 0 2rem 8rem black;
  border-radius: 3px;
  position: absolute;
}
.composition__photo--p1 {
  left: 0em;
  bottom: -92rem;
}
.composition__photo--p2 {
  right: 0em;
  top: 2rem;
}
/* ---------------------
        Header section
   ---------------------*/
.header {
  background-image: linear-gradient(to right top, rgba(250, 118, 2, 0.7137254902), rgba(250, 118, 2, 0.7137254902)), url("img/capecoast.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  background-attachment: scroll;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.137);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  width: 30rem;
  height: 15rem;
}
.header__centered-text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: rgb(228, 220, 220);
  padding: 20rem 0;
  margin-top: -20vh;
}

.row {
  max-width: 114em;
  margin: 0 auto;
  margin-top: 0px;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  margin-top: 1rem;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem*2) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2* 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem*3) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 6rem) / 4 * 2);
}
.row .col-3-of-4 {
  width: calc(3.25*((100% - 3 * 6rem)/4) + 6rem);
}

/*# sourceMappingURL=style.css.map */
