/* ---------------------
          Buttons
     ---------------------*/
     
     .btn{
         &,
        &:link,
        &:visited{
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 30rem;
            padding: 1rem 3rem;
            position: relative;
            font-size: $default-font-size;

             //change for button element
             border: none;
             cursor: pointer;
 
          }
        
          &--white{
           background-color: $color-white;
           color:$color-light-orange;
           text-align: center;
           display: inline-block;
    
           &:hover{
            transform: translateY(-0.5rem);
            transition: transform 0.5s;
            box-shadow: 0rem 1rem 2rem rgba($color-black, 0.747);
           
    
            &::after{
                transform:  scaleX(1.7) scaleY(2);
                opacity: 0;
              }
            
          }
          }
          &--green{
            background-color: $color-light-green;
            color:$color-white;
            text-align: center;
            display: inline-block;
     
            &:hover{
             transform: translateY(-0.5rem);
             transition: transform 0.5s;
             box-shadow: 0rem 1rem 2rem rgba($color-black, 0.747);
             background-color: $color-brown;
             transition: all 0.9s;
            
     
             &::after{
                 transform:  scaleX(1.7) scaleY(2);
                 opacity: 0;
               }
             
           }
           }
         
        
        
          &:active{
            transform: translateY(-0.3rem);
            transition: transform 0.4s;
            box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.747);
          }
        
          &::after{
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 10rem;
            position: absolute;
            top:0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
            border: none;
          }
        
          &--white::after{
            background-color:$color-white;
            border: none;
          }
        
          &--animated
          {
            animation:moveInBottom 0.5s ease-out 0.75s;
            animation-fill-mode: backwards;
            transition: all 1s;
          }
          
      }

      .btn-text
      {
        &:link,&:visited{
        color:$color--dark-brown;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color--dark-brown;
        font-size: calc(#{$default-font-size}/1.2);
        transition: all 0.5s;

        }

        &:hover{
           background-color: $color--dark-brown;
           color: $color-white;
           padding: 0.8rem;
           box-shadow: 0rem 1rem 2rem rgba($color-black, 1.15);
           transform: translateY(-2px); 
           border-radius: 5em;   
           transform: skewY(2deg,8deg); 
      
           }

        &:active{
          box-shadow: 0rem 0.5rem 1rem rgba($color-black, 1.15);
           transform: translateY(0rem); 
        }
      }