.composition
{ 
    position: relative;
    &__photo{
        width:55%;
        box-shadow: 0 2rem 8rem rgba($color-black, 4);
        position:absolute;
        transition: all 0.3zzzzzzzzzzzzzs;
        z-index: 10;
        outline-offset: 1rem;

        @include respond(tablet){
            float:left;
            position: relative;
            width: 31.333333%;
            box-shadow: 0 1rem 3rem rgba($color-black, 1);
           }

        &--p1{
            left: 0;
            top:-2rem;
            @include respond(tablet){
                left: 2%;
                margin-right: 2rem;
            top:2rem;
            }
        }

        &--p2{
           right: 0;
           top:2rem; 
        }

        &--p3{
            left: 20%;
            top:10rem;
            @include respond(tablet){
                left: 2%;
                top:2rem;
            }
        }

        &:hover{
            transform: scale(1.5) translateY(-0.5rem);
            box-shadow: 0 3rem 10rem rgba($color-black, 2);
            z-index:20;
            border-radius: 300px;
            outline: 6px solid $color--dark-brown;

            @include respond(tablet){
                transform: scale(1.03) translateY(-0.5rem);
            }
        }
    }

    &:hover &__photo:not(:hover)
    {
        transform: scale(.95rem);
    }

}

.btn-text{

    @include respond(phone){
        margin-left: 1rem;
    }
}