.feature-box
{
    background-color: rgba($color-white,0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2em 4em rgba($color-black, 1.5 );
    transition: all 0.3s;

    @include respond(tablet){
        width:80%;
        margin: 0 auto;
        
      }

    &__icon
    {
      font-size:6rem;
      margin-bottom: 0rem;
      display: inline-block;
     background-image: linear-gradient(to right,$color--dark-brown,$color--dark-brown);
     -webkit-background-clip: text;
     color: transparent;
    }
    &__text{

        @include respond(tablet){
            width: 75%;
            margin: 0 auto;
          }

    }
    &__image
    {
        width:100%;
        height: 80px;
        margin-top: 1rem;
        display: inline-block;

        @include respond(tablet){
            height: 100px;
            width:80%;
          }
    }
    &:hover{
        transform: scale(1.05) translateY(-1.5rem);
    }
}