.popup
{  
    width:100%;
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba($color-black, 0.8);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .9s;

    @include respond(tablet){
        width:100%;
        height: 1vh;
        margin-top: 19rem;
    }

    @include respond(phone){
        width:100%;
        height: 50vh;
        margin-top: 30rem;
    }


    &:target{
        opacity: 1;
        visibility:visible; 
    }

    &__close
    {
        color:$color-dark-red;
        position: absolute;
        right:2.5rem;
        top:0rem;
        font-size: 5rem;
        text-decoration: none;
        display: inline-block;

        &:hover{
            color:$color-light-green;
        }

    }

    &__content
    {
        width: 80%;
       background-color: $color-white;
       box-shadow: 0rem 3rem 5rem rgba($color-black, .6);
       @include center_item;
       border-radius: 1rem;
       display: table;
       overflow: hidden;
       opacity: 0;
       transform: translate(-50%,-50%) scale(.5);
       transition: all .9s;

       @include respond(tablet){
        width:95%;
        font-size: 3px;
    }

       @include respond(phone){
        width:95%;
        font-size: 3px;
    }


    }

    &:target &__content
    {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1); 
    }

    &__left
    {
       width: 33.333333%;
       display: table-cell;

       @include respond(phone){
  width: 100%;
       display: block;
       }
    }

    &__right
    {
        width: 65.6666666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(phone){
            width: 100%;
            display: block;
            vertical-align: middle;
        }
    }

    &__img
    {
     display: block;
     width: 100%;
     margin-bottom: 0px;
     image-rendering:pixelated;

     @include respond(phone){

        width: 100%;
     }
    }

    &__video
    {
     display: block;
     width: 100%;
     margin-top: 0px;

     @include respond(phone){

        width: 100%;
     }
    }

    &__text
    {   
      
    }
}
