 
 *,
 *::after,
 *::before{
   margin: 0;
   padding: 0;
   box-sizing: inherit;
  }

  //this defines what 1rem means
  html{
    font-size: 62.5%;

      
      @include respond(desktop){
        font-size: 56.25%;
       }

       @include respond(tablet){
        font-size: 50%;
       }


       @include respond(bigdesktop){
        font-size: 75%;
       }
  }

body{
  box-sizing: border-box;
  padding: 1.5rem;

  @include respond(tablet){
    padding: 0;
   }
}
 
  