


//heading typography
.primary-heading{
    color:$color-white;
    text-transform: uppercase;
  
    &--main
    {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 3rem;
    animation-name: moveInRight;
    animation-duration: 3s;
    animation-iteration-count: 3;
  
    }
  
    &--sub
    {
      text-align: center;
     display: block;
     width: 100%;
     font-size: 1.8rem;
     text-transform: lowercase;
     font-weight: 700;
    letter-spacing: 0.6rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    margin-bottom: 3rem;
    }
  
  }

  .secondary-heading{
    font-size:3.5rem;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-block;
    background-image: linear-gradient($color--dark-brown,$color--dark-brown);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    transition: all 0.3s;

     &:hover{
      transform: skewY(3deg) skewX(5deg) scale(1.2);
      text-shadow:2.5rem 1rem 2rem rgba($color-black, 0.8);
      
     }
  }

  .tertiary-heading{
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  }

  .paragraph{
   font-size: 1.35rem;
    &:not(:last-child)
    {
      margin-bottom: 2rem;
    }
  }

  // body typography
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 1.5rem;
    box-sizing: border-box;
  }
    
    